
openssl-etc/ssl/CA/**/*.pem
openssl-etc/ssl/CA/index.txt*
openssl-etc/ssl/CA/serial*
openssl-etc/ssl/CA/crlnumber*

openssl-etc/ssl/server/**/*.pem

openssl-etc/ssl/client/**/*.pem
openssl-etc/ssl/client/**/*.pfx

